@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

body {
	font-family: Lato, 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
	font-weight: 300;
	color: #000000;
}

h2 {
  font-weight: normal;
}

.thanks, .alert, .funding {
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.alert {
  border-left: solid 5px var(--peach-quartz);
  border-right: solid 0px var(--peach-quartz);
  background-color: var(--peach-quartz-30);
}

.funding {
  border-left: solid 5px var(--cornhusk);
  border-right: solid 0px var(--cornhusk);
  background-color: var(--cornhusk-30);
}



.thanks{
  border-left: solid 5px var(--baby-blue-30);
  background-color: var(--baby-blue-30);
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.remark-slide-content h1 {
	font-size: 50px;
}

.title-slide h3 {
  text-align: right;
  color: var(--peach-quartz);
}

.middle{
  vertical-align: middle
}

.highlight {
  color: #C49377;
  font-weight: bold;
}

.standout {
	background-color: var(--cornhusk);
}

.standout h1, h2, h3{
	font-weight: bold
}

.remark-slide h1, h2, h3{
	color: var(--classic-blue);
}

.title-slide h1{
	color: #FFFFFF;
}


.section {
	background-color: var(--classic-blue);
	color: #FFFFFF;
}

.section h1 {
	color: #FFFFFF;
}

.remark-slide tr:nth-child(even) { background: #f2f5f7}

th, td {
	padding: 10px
}

.remark-slide table{
	width: 100%;
	
}

h1 {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}


.title-slide h1, h2, h3 {
  font-weight: normal;
}

