@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

/******************
	shinobi.css must also be coupled with ninjutsu.css to be effective
See https://emitanaka.github.io/ninja-theme for the kunoichi example (replace with shinobi to see the shinobi in action).
******************/

	:root {
		--main-color1: #202729;
			--main-color2: #424242;
			--main-color3: #616161;
			--main-color4: white;
			--main-color5: #63d297;
		--text-color1: white;
		--text-color2: white;
		--text-color3: white;
		--text-color4: white;
		--text-color5: main-color1;
		--text-opacity: white;
		--link-color: orange;
		--alert-color: #ff5252;
			--text-alert: #ff5252;
		--code-background: transparent;
		--code-text-color: #FFD740;
			--code-highlight: rgba(251,192,45 ,0.3);
		--color-opacity70: rgba(26,23,56 ,0.7);
		--color-opacity50: rgba(26,23,56 ,0.5);
		--color-opacity30: rgba(26,23,56 ,0.3);
		--title-background: url("");
		--logo: url("");
	}

.title-slide {
	width: 100%;
	text-align: left!important;
	height:100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--main-color1);
	color: var(--text-color1);
	padding: 0;
}

p {
	padding-left: 20%;
	margin-left: 20px;
}

.remark-slide {
	background-color: var(--main-color4);
	background-image: var(--logo), var(--title-background);
	background-size:  10%, cover;
	background-position: right bottom, 100%;
	background-repeat: no-repeat;
}

.font-mono {
	font-family: monospace;
}

.title-slide h1 { padding-top: 15%; font-size: 4em;}
.title-slide h3 {font-size: 2em;}
.title-slide h2 {
	padding-bottom: 30px;
	color: var(--text-color1);
	border-bottom: 2px solid var(--main-color5);
	width: 100%;
	display: block;
	font-style: italic;
}

.title-slide h1, .title-slide h2, .title-slide h3  {
	padding-left: 4%!important;
	padding-right: 4%!important;
}

.title-slide .remark-slide-number { display: none; }

.bg-main1 { background-color: var(--main-color1); color: var(--text-color1);}
.bg-main2 { background-color: var(--main-color2); color: var(--text-color2);}
.bg-main3 { background-color: var(--main-color3); color: var(--text-color3);}
.bg-main4 { background-color: var(--main-color4); color: var(--text-color4);}
.bg-main5 { background-color: var(--main-color5); color: var(--text-color5);}
.bgcolor_alert { background-color: var(--alert-color)!important; color: var(--text-alert); }

.color-main1 { color: var(--main-color1);}
.color-main2 { color: var(--main-color2);}
.color-main3 { color: var(--main-color3);}
.color-main4 { color: var(--main-color4);}
.color-main4 { color: var(--main-color5);}
.color-alert { color: var(--alert-color);}

.shade_main  {
	background-color: var(--color-opacity70);
	color: var(--text-opacity);
	width: 100%;
	padding: 0;
}

.remark-visible .remark-slide-scaler {overflow-y: auto;}
.remark-code {font-size: 16px; line-height: 1;}

.remark-code-line-highlighted { background-color: var(--code-highlight); }


h1, h2, h3, body{
	font-family: 'Yanone Kaffeesatz';
	font-weight: normal;
	padding-left: 15px;
}
.remark-code, .remark-inline-code {
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	color: var(--code-text-color);
	background-color: var(--code-background);
}
.author-highlight {
	color: var(--alert-color);
}

h1, h2, h3, h4 {
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 10px;
	padding-left: 15px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

a { color: var(--link-color); text-decoration: none; }



