@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,300;1,700&family=Titillium+Web:ital,wght@0,300;0,600;1,300;1,600&display=swap');


/******************
	shinobi.css must also be coupled with ninjutsu.css to be effective
See https://emitanaka.github.io/ninja-theme for the kunoichi example (replace with shinobi to see the shinobi in action).
******************/

	:root {
		--main-color1: #202729;
			--main-color2: #424242;
			--main-color3: #616161;
			--main-color4: white;
			--main-color5: #63d297;
		--text-color1: white;
		--text-color2: white;
		--text-color3: white;
		--text-color4: #202729;
		--text-color5: main-color1;
		--text-opacity: white;
		--link-color: #ff5252;
		--alert-color: #ff5252;
			--text-alert: #ff5252;
		--code-background: transparent;
		--code-text-color: #FFD740;
			--code-highlight: rgba(251,192,45 ,0.3);
		--color-opacity70: rgba(26,23,56 ,0.7);
		--color-opacity50: rgba(26,23,56 ,0.5);
		--color-opacity30: rgba(26,23,56 ,0.3);
		--title-background: url("");
		--logo: url("");
		--text-color6: #949494;
	}

.title-slide {
	width: 100%;
	text-align: left!important;
	height:100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--main-color1);
	color: var(--text-color1);
	padding: 0;
}

p {
	padding-left: 10%;
	margin-left: 15px;
}

.remark-slide {
	background-color: var(--main-color4);
	background-image: var(--logo), var(--title-background);
	background-size:  10%, cover;
	background-position: right bottom, 100%;
	background-repeat: no-repeat;
}

.font-mono {
	font-family: monospace;
}

.title-slide h1 { padding-top: 7%; font-size: 2.5em; font-weight: 600;}
.title-slide h3 {font-size: 1.4em; text-align: right; margin-right: 40px; margin-top: 20px}
.title-slide h2 {
	padding-bottom: 30px;
	color: var(--text-color1);
	border-bottom: 2px solid var(--main-color5);
	width: 100%;
	display: block;
	font-style: italic;
	font-size: 1.4em;
}

.title-slide h1, .title-slide h2, .title-slide h3  {
	padding-left: 4%!important;
	padding-right: 4%!important;
}

.title-slide .remark-slide-number { display: none; }

.bg-main1 { background-color: var(--main-color1); color: var(--text-color1); border: 0px solid var(--main-color1)}
.bg-main2 { background-color: var(--main-color2); color: var(--text-color2);}
.bg-main3 { background-color: var(--main-color3); color: var(--text-color3);}
.bg-main4 { background-color: var(--main-color4); color: var(--text-color4);}
.bg-main5 { background-color: var(--main-color5); color: var(--text-color5);}
.bgcolor_alert { background-color: var(--alert-color)!important; color: var(--text-alert); }

.color-main1 { color: var(--main-color1);}
.color-main2 { color: var(--main-color2);}
.color-main3 { color: var(--main-color3);}
.color-main4 { color: var(--main-color4);}
.color-main5 { color: var(--main-color5);}
.color-alert { color: var(--alert-color);}

.shade_main  {
	background-color: var(--color-opacity70);
	color: var(--text-opacity);
	width: 100%;
	padding: 0;
}

.remark-visible .remark-slide-scaler {overflow-y: auto;}
.remark-code {font-size: 16px; line-height: 1;}

.remark-code-line-highlighted { background-color: var(--code-highlight); }


body { 
	font-size: 30px;
}

h1, h2, h3, body{
	font-weight: normal;
	padding-left: 15px;
}

body{
	font-family: 'Poppins';
}

h1, h2, h3{
	font-family: "Titillium Web";
}

.remark-slide-content {
    font-size: 25px;
}
.remark-code, .remark-inline-code {
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	color: var(--code-text-color);
	background-color: var(--code-background);
}
.author-highlight {
	font-weight: bold;
	color: var(--alert-color);
}

.institution {
	color: var(--text-color6);
	font-style: italic;
}

h1, h2, h3, h4 {
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 10px;
	padding-left: 20px;
}
 
h1 { font-size: 2.2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1em; }

a { color: var(--link-color); text-decoration: none; }

p {
	padding-left:15px;
}

.split-four p {
	font-size: 1.2em;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
}

.split-three p {
	font-size: 1.0em;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
}

.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  font-size: 70%;
  text-align: left;
}

ul, ol{
  margin-left:20px;
  padding-right: 15px;
}

.font_smaller {
	font-size: 80%;
}

