@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Titillium+Web:ital,wght@0,300;0,400;1,300;1,400&display=swap');


/******************
	shinobi.css must also be coupled with ninjutsu.css to be effective
See https://emitanaka.github.io/ninja-theme for the kunoichi example (replace with shinobi to see the shinobi in action).
******************/

	:root {
		--main-color1: #202729;
			--main-color2: #424242;
			--main-color3: #616161;
			--main-color4: white;
			--main-color5: #6CAE75;
		--text-color1: white;
		--text-color2: white;
		--text-color3: white;
		--text-color4: #202729;
		--text-color5: main-color1;
		--text-opacity: white;
		--link-color: #ff5252;
		--alert-color: #ff5252;
			--text-alert: #ff5252;
		--code-background: transparent;
		--code-text-color: #FFD740;
			--code-highlight: rgba(251,192,45 ,0.3);
		--color-opacity70: rgba(26,23,56 ,0.7);
		--color-opacity50: rgba(26,23,56 ,0.5);
		--color-opacity30: rgba(26,23,56 ,0.3);
		--title-background: url("");
		--logo: url("");
		--text-color6: #949494;
	}

.title-slide {
	width: 100%;
	text-align: left!important;
	height:100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--main-color1);
	color: var(--text-color1);
	padding: 0;
}

p {
	padding-left: 35px;
	padding-right:35px;
	margin-left: 20px;
	margin-right: 20px;
}

.remark-slide {
	background-color: var(--main-color4);
	background-image: var(--logo), var(--title-background);
	background-size:  10%, cover;
	background-position: right bottom, 100%;
	background-repeat: no-repeat;
}

.font-mono {
	font-family: monospace;
}

.title-slide h1 { 
	padding-top: 5%; 
	font-size: 2.7em; 
	font-weight: 400;
	margin-top: 60px}

.title-slide h3 {font-size: 1.5em; text-align: right; margin-right: 40px; margin-top: 20px}

.title-slide h2 {
	padding-bottom: 30px;
	color: var(--text-color1);
	border-bottom: 1px solid var(--alert-color1);
	width: 100%;
	display: block;
	font-style: italic;
	font-size: 1.5em;
}

.title-slide h1, .title-slide h2, .title-slide h3  {
	padding-left: 4%!important;
	padding-right: 4%!important;
}

.title-slide .remark-slide-number { display: none; }

.bg-main1 { background-color: var(--main-color1); color: var(--text-color1); border: 0px solid var(--main-color1)}
.bg-main2 { background-color: var(--main-color2); color: var(--text-color2);}
.bg-main3 { background-color: var(--main-color3); color: var(--text-color3);}
.bg-main4 { background-color: var(--main-color4); color: var(--text-color4);}
.bg-main5 { background-color: var(--main-color5); color: var(--text-color5);}
.bgcolor_alert { background-color: var(--alert-color1)!important; color: var(--text-alert1); }

.color-main1 { color: var(--main-color1);}
.color-main2 { color: var(--main-color2);}
.color-main3 { color: var(--main-color3);}
.color-main4 { color: var(--main-color4);}
.color-main5 { color: var(--main-color5);}
.color-alert1 { color: var(--alert-color1);}
.color-alert2 { color: var(--alert-color2);}

.alert { color: var(--alert-color1);}
.alert2 { color: var(--alert-color2);}

.shade_main  {
	background-color: var(--color-opacity70);
	color: var(--text-opacity);
	width: 100%;
	padding: 0;
}

.remark-visible .remark-slide-scaler {overflow-y: auto;}
.remark-code {font-size: 16px; line-height: 1;}

.remark-code-line-highlighted { background-color: var(--code-highlight); }


h1, h2, h3 {
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 10px;
	padding-left: 35px;
	padding-right: 20px;
	padding-top: 25px;
}




body{
	font-family: 'Poppins';
	font-weight: 300;
}

h1, h2, h3{
	font-family: "Titillium Web";
}

.remark-slide-content {
    font-size: 22px;
}
.remark-code, .remark-inline-code {
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	color: var(--code-text-color);
	background-color: var(--code-background);
}


.institution {
	color: var(--text-color6);
	font-style: italic;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1em; }

a { color: var(--link-color); text-decoration: none; }

.split-four p {
	font-size: 1.2em;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:10px;
}

.split-three p {
	font-size: 1.2em;
	padding-left:20px;
	padding-right:20px;
	margin: 0;
}

.footnote {
  position: absolute;
  bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 2em;
  font-size: 70%;
  text-align: left;
}

ul, ol{
  margin-left:45px;
  padding-left:30px;
  padding-right: 15px;
}

.font_smaller {
	font-size: 80%;
}

.font_larger {
	font-size: 125%;
}

.center {
    display:block;
    margin:auto;
}

.stretch {
	padding: 0;
	margin: 10px;
}

.stretch p {
	padding: 0;
	margin: 10px;
}

.lil-stretch {
	padding: 0;
	margin: 15px;
}

.lil-stretch p {
	padding: 0;
	margin: 15px;
}





